# Allow Half-Life-specific files that would otherwise be ignored
!utils/procinfo/lib/win32_vc6/procinfo.lib

.vscode/settings.json

# Generate a fresh one on releases
unity/half-life-unity.fgd

# Local testing
modinstall/
modinstall/*
unity/mods/port/
unity/mods/port/*

# Python cache
*.pyc
